body {
  padding-top: 54px;
  height: 100%;
  min-width:900px;
}
html {
 position:relative;
 min-height:100%;
}

footer {
 height: 40px;
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
